<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {
            var url = "http://localhost:38877/api/addSector";

            $ajax({
                type: "GET",
                contentType: "application/json",
                url: url,
                datatype: 'json',
                success: function (result) {
                    alert(result);
                }
            });
        });
    </script>
    
</head>
<body></body>
</html>